%form#video-form.pure-form.pure-form-aligned{ :action => "/1/parser", :method => "post", :enctype => "multipart/form-data" }
  %fieldset
    %legend= @title
    .pure-control-group
      %label URL:
      %input.pure-input-1-2#url{ :type => "text", :name => "url" }

    .pure-control-group
      %label Format:
      %select#format{ :name => "format" }
        %option{ :value => "json", :selected => true }
          json
        %option{ :value => "html" }
          html

    .pure-controls
      %button.pure-button.pure-button-primary{ :type => "submit" } Submit
