<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= @title || 'Readability Parser Proxy' %></title>
<meta name="description" content="Simple proxy to the readability.com content parser.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<% if @proxied_content %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.2.0/base-min.css">
<% else %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.2.0/base-min.css&pure/0.2.0/grids-min.css&pure/0.2.0/forms-min.css&pure/0.2.0/buttons-min.css&pure/0.2.0/menus-min.css&pure/0.2.0/tables-min.css">
<% end %>
<link rel="stylesheet" href="/stylesheets/application.css">
<link rel="icon shortcut" href="/images/wrench.ico" type="image/x-icon">
</head>

<body>
<div class="container">
  <% unless @proxied_content %>
    <div class="nav">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
          <a href="/"/>Readability Parser Proxy</a>
          </li>
          <li>
          <a href="http://www.readability.com/developers/api/parser">Parser API</a>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="main">
    <%= yield %>
  </div>
</div>
</body>
</html>
