.container { margin: 0 auto; max-width: 960px; padding: 0 1%; }
img { max-width:100%; }
.r-header {
  background-color:#55acee;
  border-bottom: 1px solid black;
  color:white;
  font-style:normal;
  font-weight:normal;
  min-height:46px;
  margin: 0;
  padding: 0;
}
.r-header .title {
  padding: 8px 52px 8px 8px;
  font-size: 87%;
}
.r-header .button {
  width: 32px;
  position: absolute;
  top: 7px;
  right: 8px;
  background-color:#55acee;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border:2px solid white;
  color:white;
  display:inline-block;
  font-size:150%;
  text-align:center;
  text-decoration:none;
  text-indent:0;
}
